body {
    margin: 0;
    padding: 0;

}

.contain {
    color: #ffff;
    display: grid;
    row-gap: 20px;
    grid-template-rows: 5% 70% 24%;
    background-image: url("NAbg.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav {
    
    display: grid;
    grid-row: 1/1;
    grid-template-columns: 30% 70%;
    
}

.nav>h1 {
    padding-left: 16%;
}

ul {
    display: flex;
    grid-column: 2/2;
    gap: 10%;
    width: 80%;
    font-size: 1.5vw;
    justify-content: flex-end;
}

li {
    display: inline-block;
}
.active{
    border-bottom: 1px solid #ffffff;
}
a{
    color: #ffffff;
}
.main  {
    display: grid;
    grid-row: 2/2;
    grid-template-columns: 30% 70%;
    padding-top: 5%;
}
.tab{
    display: flex;
    flex-direction: column;
    font-size: 4vw;
    
    border-right: 2px solid #ddd;
    padding-left: 15%;
}
.tab li:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  .cont{
      height: 100%;
  }
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    height: 100%;


  }

/* .row{
    grid-row: 2/2;
    padding-top: 20% !important;
    display: grid;
    grid-template-columns: 20% 80%;
}
.col-4{
    grid-column: 1/1;
    border-right: 1px solid #000000;
}
.col-8{
    grid-column: 2/2;
}

.list-group{
    display: flex;
    flex-direction: column !important;
} */
