body {
    margin: 0;
    padding: 0;

}

.contain {
    color: #ffff;
    display: grid;
    grid-template-rows: 5% 70% 24%;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav {
    
    display: grid;
    grid-row: 1/1;
    grid-template-columns: 30% 70%;
    
}

.nav>h1 {
    padding-left: 16%;
}

ul {
    display: flex;
    grid-column: 2/2;
    gap: 10%;
    width: 80%;
    font-size: 1.5vw;
    justify-content: flex-end;
}

li {
    display: inline-block;
}
.active{
    border-bottom: 1px solid #ffffff;
}
a{
    color: #ffffff;
}
.content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 95% 5%;
    grid-row: 2/2;
}

.slogan {
    grid-column: 1/1;
    padding-left: 5%;
    padding-top: 15%;
}

.text {
    border-left: 5px solid #ffffff;
    line-height: 25px;
    height: 10rem;
}

.text>h1 {
    font-size: 7vw;
}

.text>h4 {
    font-size: 2vw;
}
.net{
    display: flex;
    flex-direction: column;
    gap: 5%;
    grid-column: 2/2;
    padding-top: 15rem;
}
.net >img{
    width:1.7rem;
    height: 1.7rem;
}
.bottom {
    grid-row: 3/3;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 5%;
    padding-right: 2%;
    backdrop-filter: blur(5px)
}

.peek {
    height: 80%;
}