.container{
display: inline-block;
background-image: url('background.jpg');
height: auto;
}
.header{
    display: grid;
    grid-template-columns: 95% 5%;
}
.slog{
    grid-column: 1/1;
    border-left: 1px solid #ffffff;
}
.net{
    grid-column: 2/2;
}
.bottom{
    display: flex;
    justify-content: space-evenly;
 
}