body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    height: 100vh;
    overflow: hidden;
}

#cont {
    color: #ffffff;
    display: inline-block;
    background-image: url("background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100rem;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 8vw !important;
}

.nav {
    width: 100%;
    grid-row: 1/1;
}
.nav >h2{
    padding-left: 3%;
}
ul {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: flex-end;
}

li {
    align-self: flex-end;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
}


.header {
    display: grid;
    grid-row: 2/2;
    height: 10vh;
    grid-template-columns: 95% 5%;

}

.slog {


    border-left: 5px solid #ffffff;

}

.net {
    float: right;
}

.bottom {
    display: grid;
    height: 10rem;
    padding-left: 1%;
    grid-row: 3/3;
    grid-template-columns: 1fr 1fr 1fr;
    /* backdrop-filter: blur(10px); */


}

.perks {
    display: inline-block;
    text-align: center;
    width: 17rem;
    height: 10rem;

}

.perks>h4 {
    grid-row: 1/1;
    grid-column: 2/2;
}

.perks>p {
    grid-row: 2/2;
}

.bottom .b {
    grid-column: 2/2;
}

.bottom .c {
    grid-column: 3/3;
}