body{
margin: 0;
padding: 0;

}
.contain{
    display: grid;
    grid-template-rows: 5% 65% 29%;
    background-image: url("background.jpg");
     height: 100vh;
}

.nav{
    display: grid;
    grid-row: 1/1;
    grid-template-columns: 30% 70%;
}
.logo{
    display: grid;
    grid-template-columns: 60% 40%;
}
ul{display: flex;
    grid-column: 2/2;
    gap: 10%;
    width: 80%;
    justify-content: flex-end;
}
li{
    display: inline-block;
}
.content{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 90% 10%;
    grid-row: 2/2;
}
.slogan{
grid-column:1/1 ;
padding-left: 5%;
padding-top: 15%;
}
.slogan >h1{
    font-size: 5vw;
}
.slogan >h4{
    font-size: 2vw;
}
.bottom{
    grid-row: 3/3;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 2%;
    padding-right: 2%;
}
.peek {
    height: 80%;
}